packages
/ActiveDirectoryAspNetProvider/AdAspNetProvider/obj/Debug
/ActiveDirectoryAspNetProvider/AdAspNetProvider/obj/NuGet
/ActiveDirectoryAspNetProvider/.vs/AdAspNetProvider/v14
/src/AdAspNetProvider/bin
/src/AdAspNetProvider/obj
/src/.vs/AdAspNetProvider/CopilotIndices/0.2.1653.9816
/src/.vs/AdAspNetProvider
